.reviews-section {
  @include media(desktop) {
  }
}
.reviews-bg-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-image: url(../img/reviews/reviews-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/reviews/reviews-bg-desk.jpg);
  }
}

.reviews-container {
}

.reviews-title {
  @include media(desktop) {
  }
}

.reviews-swiper-container {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.reviews-swiper-container.show {
  visibility: visible;
}

.reviews-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    gap: 32px;
  }
}

.reviews-slide {
  border: 1px solid #0e0d13;
  padding: 15px;
  max-width: 300px;

  @include media(desktop) {
    max-width: 352px;
  }
}

.reviews-item-rating {
  font-family: 'Onest', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #c4512a;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 28px;
  }
}

.reviews-item-text {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #4d4b55;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.reviews-item-name {
  font-family: 'Onest', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-align: right;
  color: #0e0d13;

  @include media(desktop) {
    font-size: 20px;
  }
}
