<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <h2 class="section-title gameplay-title">How It Works</h2>
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img1-desk.png"
                media="(min-width: 1440px)"
                width="352"
                height="248" />
              <source
                srcset="./img/gameplay/gameplay-img1-mob.png"
                width="343"
                height="241" />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img1-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="241"
                loading="lazy"
            /></picture>
            <h3 class="gameplay-item-title">Read the Grid</h3>
            <p class="gameplay-item-text">
              Each puzzle gives you a blank grid with a hidden picture inside.
              All you have to work with are these logic rules.
            </p>
          </li>
          <li class="gameplay-list-item">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img2-desk.png"
                media="(min-width: 1440px)"
                width="352"
                height="248" />
              <source
                srcset="./img/gameplay/gameplay-img2-mob.png"
                width="343"
                height="241" />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img2-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="241"
                loading="lazy"
            /></picture>
            <h3 class="gameplay-item-title">Place Your Rules</h3>
            <p class="gameplay-item-text">
              You'll drag these constraint rules - stuff like comparisons,
              exclusions, that kind of thing - right onto the edges of cells.
              Get it in the right place and suddenly other parts just... figure
              themselves out.
            </p>
          </li>
          <li class="gameplay-list-item">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img3-desk.png"
                media="(min-width: 1440px)"
                width="352"
                height="248" />
              <source
                srcset="./img/gameplay/gameplay-img3-mob.png"
                width="343"
                height="241" />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img3-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="241"
                loading="lazy"
            /></picture>
            <h3 class="gameplay-item-title">Reveal the Frame</h3>
            <p class="gameplay-item-text">
              Once everything clicks - and man, when it does - this whole
              picture just shows up out of nowhere. Full color, beautiful
              artwork. It's honestly magical seeing your logic turn into
              something visual.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
