<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title">Aurenor</h1>
        <p class="hero-subtitle">
          Follow the Light.<br class="hero-br" />
          Restore the Lost.
        </p>
        <p class="hero-text">
          Aurenor's basically a puzzle game where you're putting together these
          crystal fragments to uncover stories told through ancient symbols.
        </p>
      </div>
    </div>
  </div>
</section>
